include cloudmesh/inventory/etc/inventory.yaml
include cloudmesh/inventory/etc/cloudmesh_inventory.yaml

include VERSION
include *.md
include LICENSE
include requirements.txt
include requirements-dev.txt
